<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552635757419-ja25hfiec2l2bnco6qep34fc38r8aru7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552635757419-ja25hfiec2l2bnco6qep34fc38r8aru7</string>
	<key>API_KEY</key>
	<string>AIzaSyBOTU_d2AinqOzugAB3OUWM6WmKr8yw6oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>552635757419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-c63a3</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-c63a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552635757419:ios:050fcaa78b29a2eea6522e</string>
</dict>
</plist>